<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.start.springbootdemo.dao.BannerDao">
    <resultMap type="com.start.springbootdemo.entity.Banner" id="BannerMap">
        <result column="id" property="id"/>
        <result column="img_url" property="imgUrl"/>
        <result column="introduce" property="introduce"/>
        <result column="types" property="types"/>
        <result column="school_id" property="schoolId"/>
        <result column="link" property="link"/>
        <result column="addtime" property="addtime"/>
        <result column="updatetime" property="updatetime"/>
    </resultMap>
    <insert id="saveBanner" parameterType="com.start.springbootdemo.entity.Banner">
        insert into banner (id,img_url,introduce,types,school_id,addtime,link)
        values
        (#{id},#{imgUrl},#{introduce},#{types},#{schoolId},#{addtime},#{link})
    </insert>
    <update id="updateBanner" parameterType="com.start.springbootdemo.entity.Banner">
        update banner set
        <if test="imgUrl != null and imgUrl !=''">
            img_url = #{imgUrl},
        </if>
        <if test="introduce != null and introduce !=''">
            introduce = #{introduce},
        </if>
        <if test="types != null">
            types = #{types},
        </if>
        <if test="link != null and link !=''">
            link = #{link},
        </if>
        updatetime = #{updatetime} where id = #{id}
    </update>
    <delete id="deleteBanner">
        delete from banner where id = #{id}
    </delete>

    <select id="listBanner" resultMap="BannerMap">
        select * from banner where school_id = #{schoolId}
        <if test="types != null">
            and types = #{types}
        </if>
        order by addtime desc
    </select>

</mapper>